@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #7154AB;
    color: white;
}

nav>.home {
    font-size: large;
    font-weight: bold;
    padding: 0px 15px;
}

nav>input {
    flex: 1;
    border: none;
    border-radius: 25px;
    font-size: large;
    padding: 5px 15px;
}

nav>button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 7px 21px;
    margin: 0px 15px;
}