.container {
    display: flex;
    flex-flow: row wrap;
    height: 50px;
}

.item1 {
    background-color: lightpink;
    width: 100px;
}

.nestedFlex {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.nestedFlex>div:first-of-type>div:last-of-type {
    color: white;
    background-color: black;
}

.nestedFlex>div:last-of-type {
    color: white;
    background-color: black;
}

.item2 {
    background-color: lightblue;
    width: 200px;
    display: flex;
    align-items: center;
}